<mat-expansion-panel id="panel" [expanded]="isExpanded" (opened)="!isExpanded">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>shopping_basket</mat-icon>
      <h2>Cart</h2>
    </mat-panel-title>
    <div class="header-info-container">
      <button mat-mini-fab color="primary">{{itemCount}}</button> items:
      <strong class="total-price">{{(cart | async).itemsTotal | currency:(cart | async).currency:true}}</strong>
    </div>
  </mat-expansion-panel-header>

  <div id="cartContent" *ngIf="cartUpdated.items.length > 0; else showMessage">
    <div class='list'>
      <app-cart-item [cartItemInput]="[ item ]" *ngFor="let item of cartUpdated.items"></app-cart-item>
    </div>
    <hr>
    <div class="d-flex justify-content-end">
      <button mat-button color="primary" (click)="emptyCart()">Empty Cart</button>
    </div>
  </div>
  <ng-template #showMessage>
    <div id="emptyAlert">Your cart is empty</div>
  </ng-template>
</mat-expansion-panel>