<mat-card>
  <img src="{{ cartItem.product.img_thumbnail_base64 }}" alt="Photo of {{ cartItem.product.name }}">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{ cartItem.product.name }}</mat-card-title>
    <mat-card-subtitle>
      <strong>{{ cartItem.product.price.amount }}</strong>{{ cartItem.product.price.currency }}
    </mat-card-subtitle>
  </mat-card-header>

  <div class="quantity">
    <input type="number" placeholder="Quantity" value="{{ cartItem.quantity }}">
    <div class="quantity-nav">
      <button class="quantity-button quantity-up" (click)="increaseQuantity()">+</button>
      <button class="quantity-button quantity-down" (click)="decreaseQuantity()">-</button>
    </div>
  </div>

  <button mat-button mat-icon-button aria-label="Remove" (click)="deleteItem()">
    <mat-icon>close</mat-icon>
  </button>

</mat-card>