mat-card {
    padding: 1em;
    border: 1px solid #ddd;

    .flex-container {
        align-items: center;
    }

    .name-container {
        font-size: 1.5em;
        padding-top: .2em;
    }
    
    .quantity {
        display: flex;
        flex-direction: column;
        min-width: 6em;
    
        input {
            height: 4em;
            border: 1px solid #eee;
            text-align: center;
        
            &[type=number] {
                -moz-appearance: textfield; 
    
                &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }  
    
            &:focus {
                outline: 0;
            }
        }
    
        .quantity-button {
            cursor: pointer;
            user-select: none;
            height: 2em;
            line-height: 1;
        }
    }
    
    .price-container {
        text-align: center;
    }
}