:host {
    mat-card {
        display: flex;
        align-items: center;
        overflow: hidden;
        height: 9em;
        margin: .8em;
        padding: 0;

        img {
            position: absolute;
            width: 100%;
            height: auto;
        }

        .text-box {
            position: absolute;
            z-index: 2;
            background-color: #222;
            color: #ddd;
            right: 0;
            left: 0;
            padding: .3em;

            &.details {
                top: 0;
                font-size: .8em;
            }

            &.add-to-cart {
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                mat-icon {
                    margin-right: .3em;
                    font-size: 1.3em;
                }
            }
        }
    }

    &:hover {
        cursor: pointer;

        mat-card .text-box {
            background-color: #ddd;
            color: #222;
        }
    }
}

